<%= form_for(@fixture) do |f| %>
  <% if @fixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fixture.errors.count, "error") %> prohibited this fixture from being saved:</h2>

      <ul>
      <% @fixture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hometeam %><br>
    <%= f.text_field :hometeam %>
  </div>
  <div class="field">
    <%= f.label :awayteam %><br>
    <%= f.text_field :awayteam %>
  </div>
  <div class="field">
    <%= f.label :kickoff %><br>
    <%= f.datetime_select :kickoff %>
  </div>
  <div class="field">
    <%= f.label :competition %><br>
    <%= f.text_field :competition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
