<%= javascript_include_tag "d3.v3.js" %>
<%= javascript_include_tag "nv.d3.js" %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 hide-for-small"> 
        <style>

          body {
            overflow-y:scroll;
          }

          text {
            font: 12px sans-serif;
          }

          svg {
            display: block;
          }

          #chart svg {
            height: 400px;
          }

          .teams {
            display: inline-block;
            margin-right: 20px;
          }
          .teams:last-child {
            margin-right: 0px;
          }

          #pltable {
            float:right;
          }

          #bars {
            float: left;
          }

          </style>
          <body>

            <div id="chart" class='with-3d-shadow with-transitions'>
              <svg style="height: 500px;"></svg>
            </div>
        </div>
    </div> 
     <div class="row">
        <div class="large-12 columns">
          <div class="row">

            <div class="large-2 columns">
              <div class="row">
                <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue1"></div>  </h5>
                </div>
              </div><hr>
 
              <div class="hide-for-small">
                <div class="row">
                  <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue2"></div>  </h5>
                  </div>
                </div><hr>

                <div class="row">
                  <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue3"></div>  </h5>
                  </div>
                </div><hr>
 
                <div class="row"> 
                 <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue4"></div>  </h5>
                  </div>
                </div>
              </div>
            </div>

 
            <div class="large-3 columns">
          
                  <table class='teams'>
                    <thead>
                      <tr>
                      </tr>
                    </thead>

                    <tbody>
                      <% @home_xis.each do |home_xi| %>
                        <tr>
                          <td><%= home_xi.name %></td>
                          <td><%= home_xi.subbed %></td>   
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                
          
                <table class='teams'>
                  <thead>
                    <tr> 
                    </tr>
                  </thead>
                  <tbody>
                    <% @away_xis.each do |away_xi| %>
                      <tr>
                        <td><%= away_xi.name %></td>
                        <td><%= away_xi.subbed %></td>   
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                  </div>
            <div class="large-2 columns">
            <h5 class="subheader"><div id="hometeamform"></div>  </h5>
             <h5 class="subheader"><div id="awayteamform"></div>  </h5>
              <svg id="pypy1" class="mypiechart"></svg>
            </div>
            <div id='bars' class="large-2 columns">
              <span id="update"></span>
                <!-- <table class='opta'>
                  <thead>
                    <tr> 
                    </tr>
                  </thead>
                  <tbody>
                    <% @prematch.each do |prematch| %>
                      <tr>
                        <td><%= prematch.text %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table> -->


            </div>
            <div class="large-3 columns">    
                <table id="pltable">
                    <tr>
                        <th>Team</th>
                        <th>Pl.</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GD</th>
                        <th>Points</th>
                    </tr>
                </table>
 
 
            </div> 
          </div>
        </div>
      </div>
 