<%= javascript_include_tag "d3.v3.js" %>
<%= javascript_include_tag "nv.d3.js" %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 hide-for-small"> 
        <style>

          body {
            overflow-y:scroll;
          }

          text {
            font: 12px sans-serif;
          }

          svg {
            display: block;
          }

          #chart1 svg {
            height: 50px;
            min-width: 100px;
            min-height: 100px;
          }

          </style>
          <body>

            <div id="chart" class='with-3d-shadow with-transitions'>
              <svg style="height: 500px;"></svg>
            </div>

          <script>


          nv.addGraph(function() {
            var chart = nv.models.lineWithFocusChart();

           chart.transitionDuration(500);
            chart.xAxis
                .tickFormat(d3.format(',f'));
            chart.x2Axis
                .tickFormat(d3.format(',f'));

            chart.yAxis
                .tickFormat(d3.format(',.2f'));
            chart.y2Axis
                .tickFormat(d3.format(',.2f'));

            d3.select('#chart svg')
                .datum(gon.d3)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
          });
          </script>
          <br>    
      </div>
    </div> 
     <div class="row">
        <div class="large-12 columns">
          <div class="row">

            <div class="large-3 columns">
              <div class="row">
                <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue1"></div>  </h5>
                </div>
              </div><hr>
 
              <div class="hide-for-small">
                <div class="row">
                  <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue2"></div>  </h5>
                  </div>
                </div><hr>

                <div class="row">
                  <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue3"></div>  </h5>
                  </div>
                </div><hr>
 
                <div class="row"> 
                 <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue4"></div>  </h5>
                  </div>
                </div>
              </div>
            </div>

 
            <div class="large-2 columns">
                <br>
                  <table>
                    <thead>
                      <tr>
                      </tr>
                    </thead>

                    <tbody>
                      <% @home_xis.each do |home_xi| %>
                        <tr>
                          <td><%= home_xi.name %></td>
                          <td><%= home_xi.subbed %></td>   
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  </div>
              <div class="large-2 columns">
                <br>
                <table>
                  <thead>
                    <tr> 
                    </tr>
                  </thead>

                  <tbody>
                    <% @away_xis.each do |away_xi| %>
                      <tr>
                        <td><%= away_xi.name %></td>
                        <td><%= away_xi.subbed %></td>   
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
            <div class="large-2 columns">
            
            </div>
            <div class="large-3 columns">    
                <table id="pltable">
                    <tr>
                        <th>Team</th>
                        <th>Pl.</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GD</th>
                        <th>Points</th>
                    </tr>
                </table>
 
 
            </div> 
          </div>
        </div>
      </div>
 