<%= javascript_include_tag "d3.v3.js" %>
<%= javascript_include_tag "nv.d3.js" %>
<%= javascript_include_tag "jquery" %>

    <script type="text/javascript">
     $(document).ready(function () {
        setupTables();
      });
    </script>
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 hide-for-small"> 
          <body>

            <div id="chart" class='with-3d-shadow with-transitions'>
              <svg style="height: 500px;"></svg>
            </div>
        </div>
    </div> 
     <div class="row">
        <div class="large-12 columns">
          <div class="row">

            <div class="large-2 columns">
              <div class="row">
                <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue1"></div>  </h5>
                </div>
              </div><hr>
 
              <div class="hide-for-small">
                <div class="row">
                  <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue2"></div>  </h5>
                  </div>
                </div><hr>

                <div class="row">
                  <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue3"></div>  </h5>
                  </div>
                </div><hr>
 
                <div class="row"> 
                 <div class="large-12 columns">
                    <h5 class="subheader"><div id="venue4"></div>  </h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="large-3 columns">
          
                  <table class='teams'>
                    <thead>
                      <tr>
                      </tr>
                    </thead>

                    <tbody>
                      <% @home_xis.each do |home_xi| %>
                        <tr>
                          <td><%= home_xi.name %></td>
                          <td><%= home_xi.subbed %></td>   
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                
          
                <table class='teams'>
                  <thead>
                    <tr> 
                    </tr>
                  </thead>
                  <tbody>
                    <% @away_xis.each do |away_xi| %>
                      <tr>
                        <td><%= away_xi.name %></td>
                        <td><%= away_xi.subbed %></td>   
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                  </div>
            <div class="large-2 columns">
            <h5 class="subheader"><div id="hometeamform"></div>  </h5>
             <h5 class="subheader"><div id="awayteamform"></div>  </h5>

            </div>


            <div id='bars' class="large-2 columns">
             <div id="liveposschart" class='with-3d-shadow with-transitions'>
              <svg style="height: 300px;"></svg>
            </div>
            </div>
            <div class="large-1 columns">
               <div id="pypy1" class='with-3d-shadow with-transitions'>
              <svg style="height: 300px;"></svg>
            </div>
            </div>
            <div class="large-2 columns">    
                <table id="pltable">
                    <tr>
                        <th>Team</th>
                        <th>Pl.</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GD</th>
                        <th>Points</th>
                    </tr>
                </table>
 
 
            </div> 
          </div>
        </div>
      </div>
      <br>
      <center><span id="update"></span></center>
      <br>
  <div class="row">
    <div class="large-12 columns">
     <div class="large-3 columns">
             <div id="livecornerschart" class='with-3d-shadow with-transitions'>
              <svg style="height: 300px;"></svg>
            </div>
     </div>
     <div class="large-3 columns">
             <div id="livefoulschart" class='with-3d-shadow with-transitions'>
              <svg style="height: 300px;"></svg>
            </div>
     </div>
    <div class="large-3 columns">
             <div id="livetargetschart" class='with-3d-shadow with-transitions'>
              <svg style="height: 300px;"></svg>
            </div>
     </div>
     <div class="large-3 columns">
             <div id="liveshotschart" class='with-3d-shadow with-transitions'>
              <svg style="height: 300px;"></svg>
            </div>
     </div>
    </div>
  </div>
 