    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= javascript_include_tag "chartkick" %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 hide-for-small"> 
          <%= line_chart({20.day.ago => 5, 19.day.ago => 4, 18.day.ago => 5, 17.day.ago => 7, 16.day.ago => 4, 15.day.ago => 5, 14.day.ago => 7}) %> 
          <br>
          <br>
          <br>
          <br>

      </div>
    </div> 
     <div class="row">
        <div class="large-12 columns">
          <div class="row">

            <div class="large-3 columns">
              <div class="row">
                <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue1"></div>  </h5>
                </div>
              </div><hr>
 
              <div class="hide-for-small">
                <div class="row">
                  <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue2"></div>  </h5>
                  </div>
                </div><hr>

                <div class="row">
                  <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue3"></div>  </h5>
                  </div>
                </div><hr>
 
                <div class="row"> 
                 <div class="large-9 columns">
                    <h5 class="subheader"><div id="venue4"></div>  </h5>
                  </div>
                </div>
              </div>
            </div>

 
            <div class="large-2 columns">
                <br>
                  <table>
                    <thead>
                      <tr>
                      </tr>
                    </thead>

                    <tbody>
                      <% @home_xis.each do |home_xi| %>
                        <tr>
                          <td><%= home_xi.name %></td>
                          <td><%= home_xi.subbed %></td>   
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  </div>
              <div class="large-2 columns">
                <br>
                <table>
                  <thead>
                    <tr> 
                    </tr>
                  </thead>

                  <tbody>
                    <% @away_xis.each do |away_xi| %>
                      <tr>
                        <td><%= away_xi.name %></td>
                        <td><%= away_xi.subbed %></td>   
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
            <div class="large-2 columns">
             <%= pie_chart [["ARS", 7], ["WBA", 6]], :height => "420px" %>
            </div>
            <div class="large-3 columns">    
                <table id="pltable">
                    <tr>
                        <th>Team</th>
                        <th>Pl.</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GD</th>
                        <th>Points</th>
                    </tr>
                </table>
 
 
            </div> 
          </div>
        </div>
      </div>
 