<p id="notice"><%= notice %></p>

<p>
  <strong>Hometeam:</strong>
  <%= @fixture.hometeam %>
</p>

<p>
  <strong>Awayteam:</strong>
  <%= @fixture.awayteam %>
</p>

<p>
  <strong>Kickoff:</strong>
  <%= @fixture.kickoff %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @fixture.competition %>
</p>

<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
