<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :homescore %><br>
    <%= f.number_field :homescore %>
  </div>
  <div class="field">
    <%= f.label :awayscore %><br>
    <%= f.number_field :awayscore %>
  </div>
  <div class="field">
    <%= f.label :homeodds %><br>
    <%= f.text_field :homeodds %>
  </div>
  <div class="field">
    <%= f.label :awayodds %><br>
    <%= f.text_field :awayodds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
