<h1>Listing home_xis</h1>
    <%= link_to "Populate", hmpopulate_path, :method => 'put', :class => "button" %>
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @home_xis.each do |home_xi| %>
      <tr>
        <td><%= home_xi.number %></td>
        <td><%= home_xi.name %></td>
        <td><%= home_xi.subbed %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @away_xis.each do |away_xi| %>
      <tr>
        <td><%= away_xi.number %></td>
        <td><%= away_xi.name %></td>
        <td><%= away_xi.subbed %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>
